Source: linux-modules-sidux-main-2.6
Section: devel
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 6), linux-support-2.6.31-0.slh.3, linux-headers-2.6.31-0.slh.3-all-amd64 [amd64], linux-headers-2.6.31-0.slh.3-all-i386 [i386], acerhk-source [amd64 i386], aufs-source, lirc-modules-source, ndiswrapper-source [amd64 i386], virtualbox-ose-source [amd64 i386], virtualbox-ose-guest-source [amd64 i386]
Vcs-Svn: svn://svn.berlios.de/fullstory/linux-modules-sidux-main-2.6/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/linux-modules-sidux-main-2.6/trunk/

Package: acerhk-modules-2.6.31-0.slh.3-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Provides: acerhk-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-amd64
Description: Acer Hotkey driver for Linux modules for Linux 2.6.31 on AMD64
 This package provides the Acer Hotkey driver for Linux modules for the
 Linux kernel version 2.6.31 on all 64bit single- and multiprocessor AMD
 and Intel machines.
 .
 This driver will give access to the special keys on notebooks of the Acer
 Travelmate series, which are not handled by the keyboard driver.  It also
 works on notebooks from other manufacturers (some Medion, Fujitsu-Siemens,
 ...).
 .
 It also has some other related functionality (depending on the model): -
 controlling LEDs (Mail, Wireless) - enable/disable wireless hardware

Package: acerhk-modules-2.6-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Depends: acerhk-modules-2.6.31-0.slh.3-sidux-amd64
Description: Acer Hotkey driver for Linux modules for Linux 2.6 on AMD64
 This package depends on the Acer Hotkey driver for Linux modules for
 latest Linux kernel 2.6  for sidux on all 64bit single- and multiprocessor
 AMD and Intel machines.
 .
 This driver will give access to the special keys on notebooks of the Acer
 Travelmate series, which are not handled by the keyboard driver.  It also
 works on notebooks from other manufacturers (some Medion, Fujitsu-Siemens,
 ...).
 .
 It also has some other related functionality (depending on the model): -
 controlling LEDs (Mail, Wireless) - enable/disable wireless hardware

Package: aufs-modules-2.6.31-0.slh.3-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Provides: aufs-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-amd64
Description: Driver for a stackable unification filesystem modules for Linux 2.6.31 on AMD64
 This package provides the Driver for a stackable unification filesystem
 modules for the Linux kernel version 2.6.31 on all 64bit single- and
 multiprocessor AMD and Intel machines.
 .
 Aufs is a stackable unification filesystem such as Unionfs, which unifies
 several directories and provides a merged single directory.

Package: aufs-modules-2.6-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Depends: aufs-modules-2.6.31-0.slh.3-sidux-amd64
Description: Driver for a stackable unification filesystem modules for Linux 2.6 on AMD64
 This package depends on the Driver for a stackable unification filesystem
 modules for latest Linux kernel 2.6  for sidux on all 64bit single- and
 multiprocessor AMD and Intel machines.
 .
 Aufs is a stackable unification filesystem such as Unionfs, which unifies
 several directories and provides a merged single directory.

Package: lirc-modules-modules-2.6.31-0.slh.3-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Provides: lirc-modules-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-amd64
Description: infra-red remote control support modules for Linux 2.6.31 on AMD64
 This package provides the infra-red remote control support modules for the
 Linux kernel version 2.6.31 on all 64bit single- and multiprocessor AMD
 and Intel machines.

Package: lirc-modules-modules-2.6-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Depends: lirc-modules-modules-2.6.31-0.slh.3-sidux-amd64
Description: infra-red remote control support modules for Linux 2.6 on AMD64
 This package depends on the infra-red remote control support modules for
 latest Linux kernel 2.6  for sidux on all 64bit single- and multiprocessor
 AMD and Intel machines.

Package: ndiswrapper-modules-2.6.31-0.slh.3-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Provides: ndiswrapper-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-amd64
Description: ndiswrapper Linux kernel module modules for Linux 2.6.31 on AMD64
 This package provides the ndiswrapper Linux kernel module modules for the
 Linux kernel version 2.6.31 on all 64bit single- and multiprocessor AMD
 and Intel machines.
 .
 Some vendors do not release specifications of the hardware or provide a
 Linux driver for their wireless network cards.  This project implements
 Windows kernel API and NDIS (Network Driver Interface Specification) API
 within Linux kernel.  A Windows driver for wireless network card is then
 linked to this implementation so that the driver runs natively, as though
 it is in Windows, without binary emulation.

Package: ndiswrapper-modules-2.6-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Depends: ndiswrapper-modules-2.6.31-0.slh.3-sidux-amd64
Description: ndiswrapper Linux kernel module modules for Linux 2.6 on AMD64
 This package depends on the ndiswrapper Linux kernel module modules for
 latest Linux kernel 2.6  for sidux on all 64bit single- and multiprocessor
 AMD and Intel machines.
 .
 Some vendors do not release specifications of the hardware or provide a
 Linux driver for their wireless network cards.  This project implements
 Windows kernel API and NDIS (Network Driver Interface Specification) API
 within Linux kernel.  A Windows driver for wireless network card is then
 linked to this implementation so that the driver runs natively, as though
 it is in Windows, without binary emulation.

Package: virtualbox-ose-modules-2.6.31-0.slh.3-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Provides: virtualbox-ose-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-amd64
Description: PC virtualization solution modules for Linux 2.6.31 on AMD64
 This package provides the PC virtualization solution modules for the Linux
 kernel version 2.6.31 on all 64bit single- and multiprocessor AMD and
 Intel machines.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your system.

Package: virtualbox-ose-modules-2.6-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Depends: virtualbox-ose-modules-2.6.31-0.slh.3-sidux-amd64
Description: PC virtualization solution modules for Linux 2.6 on AMD64
 This package depends on the PC virtualization solution modules for latest
 Linux kernel 2.6  for sidux on all 64bit single- and multiprocessor AMD
 and Intel machines.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your system.

Package: virtualbox-ose-guest-modules-2.6.31-0.slh.3-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Provides: virtualbox-ose-guest-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-amd64
Description: PC virtualization solution modules for Linux 2.6.31 on AMD64
 This package provides the PC virtualization solution modules for the Linux
 kernel version 2.6.31 on all 64bit single- and multiprocessor AMD and
 Intel machines.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your system.

Package: virtualbox-ose-guest-modules-2.6-sidux-amd64
Architecture: amd64
Section: admin
Priority: optional
Depends: virtualbox-ose-guest-modules-2.6.31-0.slh.3-sidux-amd64
Description: PC virtualization solution modules for Linux 2.6 on AMD64
 This package depends on the PC virtualization solution modules for latest
 Linux kernel 2.6  for sidux on all 64bit single- and multiprocessor AMD
 and Intel machines.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your system.

Package: acerhk-modules-2.6.31-0.slh.3-sidux-686
Architecture: i386
Section: admin
Priority: optional
Provides: acerhk-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-686
Description: Acer Hotkey driver for Linux modules for Linux 2.6.31 on PPro/Celeron/PII/PIII/P4
 This package provides the Acer Hotkey driver for Linux modules for the
 Linux kernel version 2.6.31 on Pentium Pro/Celeron/Pentium II/Pentium
 III/Pentium 4 machines.
 .
 This driver will give access to the special keys on notebooks of the Acer
 Travelmate series, which are not handled by the keyboard driver.  It also
 works on notebooks from other manufacturers (some Medion, Fujitsu-Siemens,
 ...).
 .
 It also has some other related functionality (depending on the model): -
 controlling LEDs (Mail, Wireless) - enable/disable wireless hardware

Package: acerhk-modules-2.6-sidux-686
Architecture: i386
Section: admin
Priority: optional
Depends: acerhk-modules-2.6.31-0.slh.3-sidux-686
Description: Acer Hotkey driver for Linux modules for Linux 2.6 on PPro/Celeron/PII/PIII/P4
 This package depends on the Acer Hotkey driver for Linux modules for
 latest Linux kernel 2.6  for sidux on Pentium Pro/Celeron/Pentium
 II/Pentium III/Pentium 4 machines.
 .
 This driver will give access to the special keys on notebooks of the Acer
 Travelmate series, which are not handled by the keyboard driver.  It also
 works on notebooks from other manufacturers (some Medion, Fujitsu-Siemens,
 ...).
 .
 It also has some other related functionality (depending on the model): -
 controlling LEDs (Mail, Wireless) - enable/disable wireless hardware

Package: aufs-modules-2.6.31-0.slh.3-sidux-686
Architecture: i386
Section: admin
Priority: optional
Provides: aufs-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-686
Description: Driver for a stackable unification filesystem modules for Linux 2.6.31 on PPro/Celeron/PII/PIII/P4
 This package provides the Driver for a stackable unification filesystem
 modules for the Linux kernel version 2.6.31 on Pentium Pro/Celeron/Pentium
 II/Pentium III/Pentium 4 machines.
 .
 Aufs is a stackable unification filesystem such as Unionfs, which unifies
 several directories and provides a merged single directory.

Package: aufs-modules-2.6-sidux-686
Architecture: i386
Section: admin
Priority: optional
Depends: aufs-modules-2.6.31-0.slh.3-sidux-686
Description: Driver for a stackable unification filesystem modules for Linux 2.6 on PPro/Celeron/PII/PIII/P4
 This package depends on the Driver for a stackable unification filesystem
 modules for latest Linux kernel 2.6  for sidux on Pentium
 Pro/Celeron/Pentium II/Pentium III/Pentium 4 machines.
 .
 Aufs is a stackable unification filesystem such as Unionfs, which unifies
 several directories and provides a merged single directory.

Package: lirc-modules-modules-2.6.31-0.slh.3-sidux-686
Architecture: i386
Section: admin
Priority: optional
Provides: lirc-modules-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-686
Description: infra-red remote control support modules for Linux 2.6.31 on PPro/Celeron/PII/PIII/P4
 This package provides the infra-red remote control support modules for the
 Linux kernel version 2.6.31 on Pentium Pro/Celeron/Pentium II/Pentium
 III/Pentium 4 machines.

Package: lirc-modules-modules-2.6-sidux-686
Architecture: i386
Section: admin
Priority: optional
Depends: lirc-modules-modules-2.6.31-0.slh.3-sidux-686
Description: infra-red remote control support modules for Linux 2.6 on PPro/Celeron/PII/PIII/P4
 This package depends on the infra-red remote control support modules for
 latest Linux kernel 2.6  for sidux on Pentium Pro/Celeron/Pentium
 II/Pentium III/Pentium 4 machines.

Package: ndiswrapper-modules-2.6.31-0.slh.3-sidux-686
Architecture: i386
Section: admin
Priority: optional
Provides: ndiswrapper-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-686
Description: ndiswrapper Linux kernel module modules for Linux 2.6.31 on PPro/Celeron/PII/PIII/P4
 This package provides the ndiswrapper Linux kernel module modules for the
 Linux kernel version 2.6.31 on Pentium Pro/Celeron/Pentium II/Pentium
 III/Pentium 4 machines.
 .
 Some vendors do not release specifications of the hardware or provide a
 Linux driver for their wireless network cards.  This project implements
 Windows kernel API and NDIS (Network Driver Interface Specification) API
 within Linux kernel.  A Windows driver for wireless network card is then
 linked to this implementation so that the driver runs natively, as though
 it is in Windows, without binary emulation.

Package: ndiswrapper-modules-2.6-sidux-686
Architecture: i386
Section: admin
Priority: optional
Depends: ndiswrapper-modules-2.6.31-0.slh.3-sidux-686
Description: ndiswrapper Linux kernel module modules for Linux 2.6 on PPro/Celeron/PII/PIII/P4
 This package depends on the ndiswrapper Linux kernel module modules for
 latest Linux kernel 2.6  for sidux on Pentium Pro/Celeron/Pentium
 II/Pentium III/Pentium 4 machines.
 .
 Some vendors do not release specifications of the hardware or provide a
 Linux driver for their wireless network cards.  This project implements
 Windows kernel API and NDIS (Network Driver Interface Specification) API
 within Linux kernel.  A Windows driver for wireless network card is then
 linked to this implementation so that the driver runs natively, as though
 it is in Windows, without binary emulation.

Package: virtualbox-ose-modules-2.6.31-0.slh.3-sidux-686
Architecture: i386
Section: admin
Priority: optional
Provides: virtualbox-ose-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-686
Description: PC virtualization solution modules for Linux 2.6.31 on PPro/Celeron/PII/PIII/P4
 This package provides the PC virtualization solution modules for the Linux
 kernel version 2.6.31 on Pentium Pro/Celeron/Pentium II/Pentium
 III/Pentium 4 machines.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your system.

Package: virtualbox-ose-modules-2.6-sidux-686
Architecture: i386
Section: admin
Priority: optional
Depends: virtualbox-ose-modules-2.6.31-0.slh.3-sidux-686
Description: PC virtualization solution modules for Linux 2.6 on PPro/Celeron/PII/PIII/P4
 This package depends on the PC virtualization solution modules for latest
 Linux kernel 2.6  for sidux on Pentium Pro/Celeron/Pentium II/Pentium
 III/Pentium 4 machines.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your system.

Package: virtualbox-ose-guest-modules-2.6.31-0.slh.3-sidux-686
Architecture: i386
Section: admin
Priority: optional
Provides: virtualbox-ose-guest-modules
Depends: linux-modules-2.6.31-0.slh.3-sidux-686
Description: PC virtualization solution modules for Linux 2.6.31 on PPro/Celeron/PII/PIII/P4
 This package provides the PC virtualization solution modules for the Linux
 kernel version 2.6.31 on Pentium Pro/Celeron/Pentium II/Pentium
 III/Pentium 4 machines.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your system.

Package: virtualbox-ose-guest-modules-2.6-sidux-686
Architecture: i386
Section: admin
Priority: optional
Depends: virtualbox-ose-guest-modules-2.6.31-0.slh.3-sidux-686
Description: PC virtualization solution modules for Linux 2.6 on PPro/Celeron/PII/PIII/P4
 This package depends on the PC virtualization solution modules for latest
 Linux kernel 2.6  for sidux on Pentium Pro/Celeron/Pentium II/Pentium
 III/Pentium 4 machines.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your system.

